@page
@model M05_UF3_P2_Template.Pages.Companies.SearcherModel
@using M05_UF3_P2_Template.App_Code.Model;
@{ 

    ViewData["Title"] = "Company searcher";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Companies
        <a class="btn btn-primary float-right" asp-page="/Companies/Company" title="Add company">
            <span class="material-icons text-white">add</span>
        </a>
        </h3>
    </div>
    <div class="card-body px-0">
        <div class="row justify-content-md-center text-center">
            @foreach (Company company in Model.companies)
            {
                <div class="col col-3 card m-1 p-0">
                    <img class="card-img-top rounded img-fluid shadow-sm p-1" src="@company.Icon" alt="Company icon" style="height: 100px; object-fit: scale-down; background-color: @company.IconBackground; ">
                    <div class="card-body p-1 pt-3">
                        <h5 class="card-title">@company.Name</h5>
                    </div>
                    <div class="card-footer p-1">
                        <form asp-page-handler="delete" asp-route-id="@company.Id" method="post">
                            <a class="btn btn-primary" asp-page="/Companies/Company" asp-route-id="@company.Id" title="View company">
                                <span class="material-icons text-white">visibility</span>
                            </a>
                            <button class="btn btn-danger"><span class="material-icons text-white">delete</span></button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>